spring:
  application:
    name: products

  datasource:
    url: jdbc:postgresql://localhost:5432/invoices_db
    username: postgres
    password: mysecretpassword

#  h2:
#    console:
#      enabled: true

  jpa:
    hibernate:
      ddl-auto: update
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
